html,body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.tile {
    transition: top 600ms ease-in-out, left 600ms ease-in-out, height 600ms ease-in-out, width 600ms ease-in-out;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
}

.tile .content{
    box-shadow: 0 0 10px rgba(68,68,68,0.5);
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.tile img {
    height: 100%;
    width: 100%;
}

.tile.feed img {
     width: auto;
     height: auto;
}

.tile.feed h2 {
    font-size: 16px;
}
